<footer class="footer">
  <div class="footer__inner">
    <div class="footer__brand">
      <div class="footer__brand-row">
        <span class="footer__logo">
          <span class="material-symbols-outlined">account_balance</span>
        </span>
        <span class="footer__title">Velora Bank</span>
      </div>
      <p class="footer__tagline">
        A secure banking application built for simple, everyday account management.
      </p>
    </div>

    <div class="footer__links">
      <h5>Quick Links</h5>
      <ul>
        <li><a routerLink="/" fragment="home">Home</a></li>
        <li><a routerLink="/" fragment="about">About</a></li>
        <li><a routerLink="/" fragment="services">Services</a></li>
        <li><a routerLink="/" fragment="faq">FAQ</a></li>
        <li><a routerLink="/" fragment="contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer__contact">
      <h5>Contact</h5>
      <ul>
        <li>College Campus, Bank DBMS Dept.</li>
        <li>+1 (800) 123-4567</li>
        <li>support&#64;trustbank.com</li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p>&copy; {{ year }} Velora Bank. All rights reserved.</p>
  </div>
</footer>
